---
const {
  link,
  image,
  gender,
  genderColor,
  title,
  titleColor,
  desc,
  descColor,
  bgColor,
} = Astro.props;
---

<a
  class="group relative aspect-[4/3] overflow-hidden h-full"
  href={link}
  rel="follow"
  target="_blank"
>
  <div class="absolute w-full z-20 h-full bg-black bg-opacity-30"></div>
  <img
    class="w-full z-10 h-full object-cover"
    src={`${image}`}
    alt={`${title} project image`}
  />

  <div
    class="absolute flex flex-col gap-2 group-hover:translate-y-[-1rem] transition duration-500 ease-in-out left-0 right-0 bottom-0 pb-5 px-10 z-30 pointer-events-none font-primary"
  >
    <h4
      class="text-md font-secondary italic"
      style={{
        color: `${genderColor}`,
      }}
    >
      {gender}
    </h4>
    <h3
      class="font-black text-2xl"
      style={{
        color: `${titleColor}`,
      }}
    >
      {title}
    </h3>
    <p
      class="group-hover:opacity-100 opacity-0 hidden group-hover:block transition duration-300 ease-in-out font-bold text-xl"
      style={{
        color: `${descColor}`,
      }}
    >
      {desc}
    </p>
  </div>

  <div
    class="absolute inset-0 translate-y-[100%] group-hover:translate-y-[0%] transition duration-300 ease-principal z-20"
    style={{
      backgroundColor: `${bgColor}`,
    }}
  >
  </div>
</a>
